{% extends 'base.html.twig' %}

{% block title %}Modifier
	{{disc.title}}
{% endblock %}

{% block body %}
	<a class='btn btn-primary mb-4' href="{{ path('app_disc_index') }}">Retour</a>
	<h1>Modifier
		{{disc.title}}</h1>
	{{ include('disc/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


	{# deleteModal #}
	<div class="modal fade" id="deleteModal" tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id='deleteModalLabel'>Supprimer</h3>
					<button class="btn-close" type='button' data-bs-dismiss='modal' aria-label='close'></button>
				</div>
				<div class="modal-body">
					<p class='m-0'>Voulez-vous vraiment supprimer
						{{disc.title}}
						|
						{{disc.artist.name}}</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type='button' data-bs-dismiss='modal'>Annuler</button>
					{{ include('disc/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
