{% extends 'base.html.twig' %}

{% block title %}Disc index
{% endblock %}

{% block body %}
	<div class="mb-4 d-flex align-items-center justify-content-between gap-4">
		<h1>Disques</h1>
		<div>
			<a class='btn btn-primary' href="{{path('app_disc_new')}}">Nouveau disque</a>
		</div>
	</div>

	<section class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-1 g-sm-2 g-md-4">
		{% for disc in discs %}
			<div class='col'>
				<div class='card border-0'>
				<div class="ratio ratio-1x1">
					<img class='card-img-top' src="{{asset('images/discs/')}}{{disc.picture}}" alt={{disc.title}}>
				</div>
					<div class="card-body p-1">
						<h6 class="m-0">{{disc.title}}</h6>
						<p class='fw-light m-0'>{{disc.artist.name}}</p>
						<a class='stretched-link' href="{{ path('app_disc_show', {id: disc.id})}}"></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
