{% extends 'base.html.twig' %}

{% block title %}{{disc.title}} | {{disc.artist.name}}{% endblock %}

{% block body %}
    <a class='btn btn-primary mb-4' href="{{ path('app_disc_index') }}">Retour</a>

    <div class="d-flex flex-column flex-md-row justify-content-between gap-4">
        <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center">
            <img class="img-fluid rounded" src="{{asset('images/discs/')}}{{disc.picture}}" alt="{{disc.title}}">
        </div>
        <ul class="flex-fill list-group">
            <li class='list-group-item'><h1 class='m-0'>{{disc.title}}</h1></li>
            <li class="list-group-item"><h3 class='m-0'>{{disc.artist.name}}</h3></li>
            <li class="list-group-item"><p class='m-0'>{{disc.year}}</p></li>
            <li class="list-group-item"><p class='m-0'>{{disc.genre}}</p></li>
            <li class="list-group-item"><p class='m-0'>{{disc.label}}</p></li>
            <li class="list-group-item"><p class='m-0'>{{disc.price}}</p></li>
        </ul>
        <div class="col-md-2 d-flex flex-column gap-2">
            <a class='btn btn-primary' href="{{ path('app_disc_edit', {'id': disc.id}) }}">Modifier</a>
            <button class="col-12 btn btn-danger" type='button' data-bs-toggle='modal' data-bs-target='#deleteModal'>Supprimer</button>
        </div>

        {{ include('disc/_delete_form.html.twig') }}
    </div>

{% endblock %}
